html{
  font-size: 62.5%;
}
body{
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
html, body{
  margin: 0;
}
.col{
  min-width: 300px;
}
.container{
  display: flex;
  justify-content: space-around;
}
.uuids{
  display: block;
  font-family: monospace;
  height: 500px;
  resize: none;
  width: 100%;
}
